:root {
  --main-text-color: #434455;
  --title-color: #2e2f42;
  --hover-color: #404bbf;
  --main-blue: #4d5ae5;
  --white: #ffffff;
  --light-purple: #f4f4fd;
  --green-focus-link: #31d0aa;
  --customers: #8e8f99;
  --h-focus-transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  padding-left: 16px;
  padding-right: 16px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.all-btns:hover,
.all-btns:focus {
  background-color: var(--hover-color);
}

.all-btns {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

/* !======================HEADER======================= */

.header {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  /*? ========== НОВОЕ ============ */
  transition: opacity 1000ms linear, visibility 1000ms linear;
  /*? ========== НОВОЕ ============ */
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.logo-dark {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-blue);
}

.primary-logo-dark {
  color: var(--title-color);
}

.menu {
  display: none;
}

.adress {
  display: none;
}

.bar-menu-btn {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  border: none;
  background-color: transparent;
}

.bar-menu {
  stroke: var(--title-color);
}

/* ! =============  MOBILE BAR WINDOW ============   */

.mob-modal-window {
  /*? ========== НОВОЕ ============ */

  position: absolute;
  left: -100%;
  transform: translateX(100%);
  transition: transform var(--h-focus-transition);

  /*? ========== НОВОЕ ============ */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  padding: 80px 35px 40px 40px;
  overflow: auto;
}

.mob-modal-cls-btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), color var(--h-focus-transition);
}

.mob-nav {
  margin-bottom: 50px;
}

.mob-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.mob-menu-link {
  color: var(--title-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
}

.highlight {
  color: var(--hover-color);
}

.mob-adress {
  font-style: normal;
}

.mob-adress-link-phone {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  color: var(--main-blue);
  margin-bottom: 40px;
}

.mob-adress-link-email {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--main-text-color);
  margin-bottom: 48px;
}

.mob-soc-list-wrapper {
}

.mob-social-list {
  max-width: 328px;
  display: flex;
  justify-content: space-between;
}
.social-list-items {
}
.mob-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-blue);
}
.social-list-icon {
  fill: var(--light-purple);
  width: 16px;
  height: 16px;
}
/* =======================MAIN========================= */

/*  !========================HERO========================= */

.hero-btn {
  border: none;
  display: block;
  background-color: var(--main-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 56px;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;

  padding: 16px 32px;
  transition: background-color var(--h-focus-transition);
}

.hero {
  width: 100%;
  background-color: var(--title-color);
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/main-page/hero-img-mobile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/main-page/hero-img-mob-2x.jpg');
  }
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  max-width: 320px;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  color: var(--white);
  text-align: center;
}

/* !========================VALUES======================== */

.value {
  padding-top: 96px;
  padding-bottom: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.value-icon {
  display: none;
}

.value-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.value-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  color: var(--title-color);
  margin-bottom: 8px;
}

.value-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--main-text-color);
}

/* !=================== WORK IMAGES ================== */

.work-galary {
  display: none;
}

/* !======================= OUR TEAM ===================== */

.team-item {
  /* width: 264px; */
  display: block;
  background-color: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team {
  background-color: var(--light-purple);
  padding-top: 96px;
  padding-bottom: 96px;
}

.employee-card {
  padding: 32px 16px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}

.picture-title {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.picture-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-icon {
  fill: var(--light-purple);
  width: 16px;
  height: 16px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-blue);
  transition: background-color var(--h-focus-transition);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--hover-color);
  outline: 0px;
}

/* !================   CUSTOMERS   ================== */

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
  justify-content: center;
}

.customers-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}

.customers-icon {
  fill: currentColor;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--customers);
  width: 190px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color var(--h-focus-transition),
    color var(--h-focus-transition);
}

.customers-list-link:hover,
.customers-list-link:focus {
  color: var(--hover-color);
  border-color: var(--hover-color);
}

/* !==================  FOOTER  ========================= */

.footer-icon {
  width: 24px;
  height: 24px;
}

.footer {
  background-color: var(--title-color);
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.logo-light {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-blue);
}

.primary-logo-light {
  color: var(--light-purple);
}

.footer-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 264px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-purple);
  margin-bottom: 72px;
}

.footer-cotainer {
}

.footer-social-list {
  justify-content: center;
  display: flex;
  gap: 16px;
  margin-bottom: 72px;
}

.footer-list-link:hover,
.footer-list-link:focus {
  background-color: var(--green-focus-link);
  outline: 0px;
}

.footer-social-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.footer-subscribe-title {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.footer-subscribe-input {
  outline: none;
  border: 1px solid #ffffff;
  background: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  max-width: 398px;
  height: 40px;
  padding-left: 16px;
  color: var(--light-purple);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-subscribe-input::placeholder {
  color: #ffffff;
}

.footer-subscribe-btn {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: var(--main-blue);
  border-radius: 4px;
  transition: background-color var(--h-focus-transition);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}

.subscribe-btn-icon {
  margin-left: 16px;
  fill: var(--white);
}

/* !================  Portfolio  ======================= */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--h-focus-transition);
}

.portfolio-btn {
  background-color: var(--light-purple);
  color: var(--main-blue);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  height: 48px;
  min-width: 69px;
  padding: 12px 24px;
  transition: color var(--h-focus-transition),
    background-color var(--h-focus-transition),
    border-color var(--h-focus-transition), box-shadow var(--h-focus-transition);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--hover-color);
  color: var(--white);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-img {
  width: calc((100% - 2 * 24px) / 3);
}

.pictures-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.pictures-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.app-links {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-pic-wraper {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  content: '';
  height: 100%;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-purple);
  background-color: var(--main-blue);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .overlay-text,
.portfolio-link:focus .overlay-text {
  transform: translateY(0%);
}

/* !==================  MODAL WINDOW  ============================ */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  transition: opacity var(--h-focus-transition),
    visibility var(--h-focus-transition);
}

.backdrop-window {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--h-focus-transition);
  width: calc(100vw - 36px);
  max-width: 392px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 72px;
  padding-right: 16px;
  padding-bottom: 24px;
}

.backdrop-window-cls-btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), color var(--h-focus-transition);
}

.backdrop-window-cls-btn:hover,
.backdrop-window-cls-btn:focus {
  background-color: var(--hover-color);
  color: var(--white);
  border: none;
}

.icon-close {
  fill: currentColor;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .backdrop-window {
  transform: scale(0);
}

/* !================ FORM FIELD ================== */

.signup-form {
  margin: 0 auto;
}

.signup-form-field-wrapper {
  margin-bottom: 8px;
}

.backdrop-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.signup-form-input {
  outline: transparent;
  display: block;
  padding-left: 38px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  height: 40px;
  transition: border-color var(--h-focus-transition);
}

.signup-form-input:focus {
  border-color: var(--main-blue);
}

.signup-form-input:focus + .input-icon {
  fill: var(--main-blue);
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--title-color);
  transition: fill var(--h-focus-transition);
}

.input-comment-wrapper {
  margin-bottom: 16px;
}

.comment-field {
  padding: 8px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.signup-form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers);
}

.policy-wrapper {
  margin-bottom: 24px;
}

.policy-title {
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers);
}

.policy-link {
  color: var(--main-blue);
}

.policy-checkbox {
  width: 16px;
  height: 16px;
}

.new-checkbox {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.policy-checkbox:checked + .policy-title > .new-checkbox {
  background-color: var(--hover-color);
  border: none;
  fill: var(--light-purple);
}

.submit-btn {
  border: none;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  background: var(--main-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color var(--h-focus-transition);
}
